<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Restauropedia</title>

    
    <%- include ('partials/fonts_html.ejs') %>
    <%- include ('partials/fonts_css.ejs') %>

    <%- include ('partials/banner.ejs') %>
        <div id="banner">
            <div id="banner-content" class="orelega-one-regular">
                <p>Restauropedia</p>
            </div>
        </div>
        <div id="main-content">
            <p>This text is only here to load the main banner</p>
        </div>
        
        <%- include ('partials/style.ejs') %>
</head>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container mt-3">
        <h2>Update Restaurant</h2>

        <!-- code for form tag to update restaurant -->
        <% if (restaurant) { %> 
            <form action="/restaurants/<%= restaurant.id %>/update" method="POST" enctype="multipart/form-data">
                
                <div class="mb-3 mt-3">
                    <label for="name">Restaurant Name:</label>
                    <input type="text" id="name" class="form-control" value="<%= restaurant.name %>"  placeholder="Enter restaurant name" name="name" style="width: 50%;" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="type">Type:</label>
                    <input type="text" id="type" class="form-control" value="<%= restaurant.type %>" placeholder="Enter type of food served" name="type" style="width: 50%;" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="name">Description:</label><br>
                    <textarea id="description" name="description" rows="7" cols="50" placeholder="Enter description of the restaurant"  style="width: 50%;" ><%= restaurant.description %></textarea>
                </div>
                <div class="mb-3 mt-3">
                    <label for="type">Address:</label>
                    <input type="text" id="address" class="form-control" value="<%= restaurant.address %>" placeholder="Enter the restaurants' address/location" name="address" style="width: 50%;" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="image">Current Image:</label> <br>

                    <input type="text" name="currentImage" value=<%= restaurant.image %> readonly>
                    <br>
                    <img src = "/images/<%= restaurant.image %>" width="20%"><br><br>
                    
                    <span style="font-weight: bold;">New Image:</span><br><input type="file" id="image" name="image" accept="image/*" value=<%= restaurant.image %>><br><br>
                </div>
                
                
                <div class="mb-3 mt-3">
                    <label for="priceindicator">Price Range: </label>
                    <p>(Above/Under/Around) this price</p>
                    <select class="form-select" id="priceindicator" name="priceindicator" value=<%= restaurant.priceindicator %>  style="width: 20%;">
                        <option selected><%= restaurant.priceindicator %></option>
                        <option value="Above">Above</option>
                        <option value="Under">Under</option>
                        <option value="Around">Around</option>
                    </select>
                    <input type="number" style="width: 20%" class="form-control" id="pricerange" value="<%= restaurant.pricerange %>" placeholder="Enter price range" name="pricerange">
                </div>
                <button type="submit" class="btn btn-primary">Save Restaurant</button>
            </form>
        <% } else { %>
            <p>Restaurant not found.</p>
        <% } %>
            <br>
            
            <a class="otherbuttons" href="/restaurants/<%= restaurant.id %>">Discard Edit</a>
        </div>
    </div>

    <script>
        
    
        
    </script>
</body>
</html>